body{
  margin: auto;
  width: 50%;
  padding: 10px;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  background-color: #e0ebeb;
  font-family: sans-serif;
}
h1  {
  margin-top: 20px;
  border: solid;
  text-align: center;
  background-image: linear-gradient(#6699FF,#00FF99);
  text-shadow: 2px 2px;
}
.input-row{
  padding-left: 100px;
  text-align: center;
  text-shadow: 1px 1px;
}
#fInput{
  margin-left: 50px;
  padding-bottom: 10px;
  text-shadow: 1px 1px;
}
#sInput{
  margin-left: 59px;
  padding-bottom: 10px;
  border: none;

}
#b{
  margin-right: 12px;
  background-image: linear-gradient(#33cc33,#8FAD14);
  text-align: center;
  font-weight: bold;
  border: none;

}
