body{
  margin: auto;
  padding: 10px;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  background-color: #e0ebeb;
  font-family: sans-serif;
}
h1  {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  border: solid;
  text-align: center;
  text-shadow: 2px 2px;
}
.input-row{
  text-align: center;
  text-shadow: 1px 1px;
}

#fImput{
  color: transparent;
  margin-left: 50px;
  width: 87px;
  border: solid red;
  margin-bottom: 10px;
}
#sImput{

  color: transparent;
  margin-left: 59px;
  margin-bottom: 10px;
  border: solid green;
  width: 87px;

}
#b{
  margin-right: 12px;
  text-align: center;
  font-weight: bold;
  border: solid blue;
}
.thisImg {
  margin-left: 80px;
  padding-left:80px;
  position: absolute;
  top: -30px;
  left: 0px;
}
